h1 Hello #{title},Welcome To Join chat Room Test

div
 h3 聊天记录
 div#message_list.msglistDiv


div#cu.currentDiv
 h3 当前在线的用户:
 ul#users.currentUl
 -for (var user in users)
  li(class='user-'+ user) #{users[user]}



div#msgDiv.sendMsgDiv
 textarea(id='msg',name='msg')
 br
 span#onlineUser
   input(type="hidden",name="nick",id="nick",value="#{title}")
   label 对：
   select(name="nick")
     each user in users
       option(value='#{user}')#{user} 
   button(name='sendBtn',id='sendBtn') 确定
