h1 Welcome To  #{title}  Join chat Room Test


h3 当前在线的用户:
ul#users
-for (var user in users)
    li(class='user-'+ user) #{users[user]}

br

h3 聊天记录
div#message_list


h4 我要说:
div#msgDiv.sendMsg
 textarea(id='msg',name='msg')
 br
 span#onlineUser
   input(type="hidden",name="nick",id="nick",value="#{title}")
   button(name='sendBtn',id='sendBtn') 确定 
   select(name="nick")
     each user in users
       option(value='#{user}')#{user}